*{
  padding:0;
}
.App {
  text-align: center;
}
.navBar{
  background-color: rgb(255, 211, 154);
  height:4rem;
  display:flex;
  align-content: center;
}
.nav{
  width:15rem;
  display: flex;
  margin: 1rem auto;
  justify-content: space-between;
}
.link{
  color:black;
  text-decoration: none;
  font-size:1.2rem;
}
.activeLink{
  color:white;
  text-shadow: .1rem .1rem .3rem black;
  font-size:1.2rem;
}

.SmurfForm form{
  display: flex;
  flex-direction: column;
  margin:1rem auto;
  width:20rem;
}
.SmurfForm input{
  margin-bottom: 1rem;
  height:2rem;
  font-size: 1rem;
}
input:focus {
  outline:0;
}
.SmurfForm button{
  width:10rem;
  margin:auto;
  height:2rem;
  border-radius: 1rem;
  font-size: .8rem;
  box-shadow: 0rem .2rem 0rem black;
  border:.05rem solid black;
}
.SmurfForm button:hover{
  cursor: pointer;
}
.SmurfForm button:active{
  box-shadow: 0rem 0rem 0rem black;
  margin-top:.1rem;
}
button:focus {outline:0;}

.smurfContainer{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.smurf{
  width:17rem;
  margin:1rem;
  box-shadow:0rem .1rem 1.5rem rgb(255, 191, 108);
}
